/*@import url(fontawesome-all.min.css);*/

/* Container needed to position the button. Adjust the width as needed */
.a_stream{
 float: left;
     width: 50%;
    position: relative;
}
.a_lidar{
 float: right;
     width: 50%;
    position: relative;
}

/* Make the image responsive */
.a_stream img {
  width: 100%;
  height: auto;
}
.a_lidar img {
  width: 100%;
  height: auto;
}

.a_arrow{
    position: absolute;
    /*position: absolute !important;*/
    cursor: pointer;;
    border-color:transparent;
    padding: 2em;
    border: none;
    height:inherit;
}
.a_left{
    top: 50%;
    left: 0;
}
.a_right{
    top: 50%;
    right: 0;
}
.a_up{
    top: 0;
    left: 50%;
    /*padding:30%;*/

}
.a_down{
    top: 100%;
    left: 50%;
    transform: translate(0, -100%);
}
.a_small_left {
	top: 0;
    left: 0%;
	font-size:20px;
}
.a_small_right {
	right: 0%;
	top: 0;
	font-size:20px;
}
.a_button{
    position: absolute;
    /*position: absolute !important;*/
    cursor: pointer;;
    border-color:transparent;
    border: none;
    height:inherit;
}
.a_stop_robot {
    font-size:50px;
    padding: 0.5em;
    color:red;
}
.a_stop_stream {
	font-size:20px;
	right: 0%;
	padding: 1em;
}
.a_record {
	font-size:50px;
	right: 50%;
	padding: 0.5em;
}
.a_lidar_refresh {
	font-size:20px;
	left: 50%;
	padding: 1em;
	top: 100%;
}
